<h1>Complaint</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{status}} Complaints</div>

  <!-- Table -->
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-lg-10">
        <input class="form-control" type="search" placeholder="Search by complaint title .,. " id="example-search-input" (keyup)="searchComplaints($event)">
      </div>
    </div>
    <table class="table table-hover" *ngIf="complaints">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>StudentName</th>
          <th *ngIf="!complaintStatus">Status</th>
          <th>Priority</th>
          <th *ngIf="!(complaintStatus == 4 || complaintStatus == 6)">Edit</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let c of complaints; let i = index;" class="container-border">
        <tr>
          <td class="action" data-toggle="collapse" [attr.data-target]="'#' + c.id" data-parent="#accordion"><span class="cid"><a>{{c.id}}</a></span></td>
          <td>{{c.title}}</td>
          <td>{{c.studentName}} - {{c.studentStandardName}}</td>
          <td *ngIf="!complaintStatus"><span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span></td>
          <td>{{c.priorityName}}</td>
          <td *ngIf="!(complaintStatus == 4 || complaintStatus == 5)"><a [ngClass]="{'disabled-click' : c.statusId == 4}" (click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="action"><i class="glyphicon glyphicon-pencil"></i></a></td>
          <td class="center-align"><a onclick="$('.panel.panel-chat').show();" (click)="getComplaintCommentById(c)" class="action"><i class="glyphicon glyphicon-comment"></i></a></td>
        </tr>
        <tr [attr.id]="c.id" class="collapse">
          <td colspan="6" style="border:none;">
            <b>Description : </b>{{c.description}}
            <p *ngIf="c.closedOn">
              <b>Closed On : </b> {{c.closedOn | date: "shortDate"}} <br/>
              <b>Root Cause : </b> {{c.rca}}
            </p>
            <p *ngIf="c.againstCategoryName">
              <b>Complaint Against : </b> {{c.againstCategoryName}}
            </p>
            <p *ngIf="c.againstEmployeeName">
              <b>Complaint Against : </b> {{c.againstEmployeeName}}
            </p>
          </td>
          <td style="border:none;">
            <button type="button" *ngIf="c.statusId != 4" (click)="selectedComplaint = c; selectedIndex = in;" data-toggle="modal" data-target="#myModal3">Close</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row text-center">
      <loader [condition]="loader"></loader>
    </div>
  </div>
  <div class="panel-footer">
    <!--<nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousComplaint()">Previous</a></li>
        <li class="page-item"><a class="page-link active">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item" [ngClass]="{'disabled': EmptyComplaints}"><a class="page-link" (click)="nextComplaint()">Next</a></li>
      </ul>
    </nav>-->
    <button (click)="previousComplaint()" [disabled]="currentPage === 1" type="button" class="btn btn-danger">Previous</button>
    <button (click)="nextComplaint()" type="button" [disabled]="EmptyComplaints || noMore" class="btn btn-danger">Next</button>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Edit Complaint</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form1" [formGroup]="editForm" (submit)="updateComplaint()">
        <div class="modal-body">
          <div class="form-group">
            <label for="sel1">Assigned To:</label>
            <select class="form-control" formControlName="assignedTo">
              <option *ngFor="let emp of employees" [value]="emp.id">{{emp.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <p><b>Priority:</b></p>
            <div class="radio" *ngFor="let prio of priorities;">
              <label><input type="radio" name="priorityId" [value]="prio.id" formControlName="priorityId">{{prio.name}}</label>
            </div>
          </div>
          <div class="form-group">
            <p><b>Status:</b></p>
            <div class="checkbox">
              <label><input type="checkbox" name="progress" formControlName="statusId">In Progress</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" (click)="resetComplaints()">Reset</button>
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--End of Edit-->

<!-- Close Modal -->
<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog">

    <!-- Close Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Close Complaint </h4>
      </div>
      <form [formGroup]="closeForm" (submit)="closeComplaint()">
        <div class="modal-body">
          <div class="form-group">
            <label for="rootCause">Root Cause</label>
            <textarea class="form-control" formControlName="rca" id="rootCause" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Comment</label>
            <textarea class="form-control" formControlName="comment" id="commentClose" rows="3" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="Submit" [disabled]= "closeForm.invalid" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- chat -->
<div id="chat" class="panel panel-chat">
  <div class="panel-heading">
    <a href="#" class="chatMinimize" onclick="return false"><span>{{complaintTitleOfCommentModel | uppercase}}</span></a>
    <a href="#" class="chatClose" onclick="return false"><i class="glyphicon glyphicon-remove"></i></a>
    <div class="clearFix"></div>
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <loader [condition]="!comments"></loader>
    </div>
    <div *ngFor="let c of comments">
      <div *ngIf="c.employeeId == currentUser">
        <div class="myMsg">
          <img src="http://www.clker.com/cliparts/f/8/a/6/1376432218623075512little%20girl%20dreaming-hi.png" class="myImg" />
          <div class="myText">
            <span class="myText-style">
              {{c.comment}}
            </span>
          </div>
        </div>
        <div class="myMsgDate">
          me: {{c.createdAt|date}}
        </div>
      </div>
      <div *ngIf="c.employeeId != currentUser">
        <div class="msg">
          <img src="http://www.kpop-map.com/wp-content/uploads/2016/01/sm-rookies-kun-profile.jpg" class="img" />
          <div class="text">
            <span class="text-style">
              {{c.comment}}
            </span>
          </div>
        </div>
        <div class="msgDate">
          <span *ngIf="c.employeeName">{{c.employeeName}}</span>
          <span *ngIf="c.parentName">{{c.parentName}}</span>
          <span>: {{c.createdAt|date}}</span>
        </div>
      </div>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="panel-footer" *ngIf="!closedOn">
    <form [formGroup]="commentForm" (submit)="submitComment()">
      <textarea name="comment" formControlName="comment" cols="0" rows="0"></textarea>
      <span class="send-button">
        <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-share-alt"></i></button>
    </span>
    </form>
  </div>
</div>