body {
  overflow-x: hidden;
}

main{
  margin-top: 50px;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #toggle-header{
  width: 250px;
}

#toggle-header{
  width: 25px;
  -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 0 30px black;
    background:white;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
} 

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ea212e;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: #ea212e;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #ea212e;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-items{
    box-shadow: 0 -3px 7px #ea212e;
}

.sidebar-items > a {
    color:black;
}
.sidebar-icon{
    margin-right: 10px;
    width:20px;
    margin-bottom: 5px;
}

.header{
    background: #ea212e;
}

.sidebar-header{
    height: 160px;
}

.profile-display{
    background: linear-gradient(to bottom, #f5959c 0%, #ea212e 100%);
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.accBgImage{
    /*background-image: url(./svg/profile_background.svg) !important;*/
    background-size: 100% auto;
}
.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 3px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.profile-name{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-indent: 0px;
    text-align:center;
}
.padding{
    padding-top: 10px;
}
a{
    color:white;
}
a:hover{
    color: #ea212e;
}

div,table,a{
    font-family:'Allerta';
}
.brand{
    font-family:sans-serif;
    color: white;
}

.logo{
    height:40px;
    width:auto;
}
