<main>

  <div id="wrapper" >
    <nav class="navbar navbar-default navbar-fixed-top header" *ngIf="log.isLoggedIn()">
      <div class="">
        <div class="navbar-header" id="toggle-header">
          
          <a class="navbar-brand" id="menu-toggle" style="cursor: pointer;float:right;padding-right: 0px;color:white"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-top-links navbar-right">
             <!--<li class="brand">Cornerstone</li>-->
             <li class="logo-list"><img src="././icons/logo.png" class="logo"></li>
            
             <!--/.dropdown -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper" *ngIf="log.isLoggedIn()">
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <div class="profile-display">
            <div class="accBgImage">
              <div class="padding">
              <img class="profile-img" src="{{log.getData('picUrl')}}" *ngIf="log.getData('picUrl')">
              </div>
              <div class="profile-name">
                {{log.getData('name')}}
              </div>
            </div>
          </div>
        </li>
        <li *ngFor="let page of pages;" class="sidebar-items">
          <a [routerLink]="['/'+page.url]" routerLinkActive="active">
          <img class="sidebar-icon" src="{{page.icon}}">
          {{page.title}}</a>
        </li>  
        <li href="#/login" (click)="logout()" class="sidebar-items">
        <img class="sidebar-icon" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/256/Logout-icon.png">
         Logout 
        </li>      
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div style="display:none" GoogleChart></div>
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</main>