<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Create New Homework</div>

   <div class="panel-body">
  <form name="homework" [formGroup]="homework" (ngSubmit)="submitHomework()" novalidate>
    <div class="form-group">
      <label for="standardId">Select Year</label>
      <select class="form-control" id="standardId" name="standardId" formControlName="standardId" (ngModelChange)="getSubjects($event); ">
      <option *ngFor="let a of standards" [value]="a.id"> {{a.name}}</option>
    </select>
    </div>
    <div class="form-group" *ngIf="homework.value.standardId">
      <label for="subjectId">Select Subject</label>
      <select class="form-control" id="subjectId" name="subjectId" formControlName="subjectId">
      <option *ngFor="let bx of subjects" [value]="bx.subjectId">{{bx.subjectName}}</option>
    </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="exampleTextarea" name="description" maxlength="2500" formControlName="description" rows="3"></textarea>
      <span>{{2500 - homework.value.description.length}}</span>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
    <div class="form-group">
      <label for="date">Due Date</label>
      <input class="form-control glyphicon glyphicon-calendar" type="date" max="2019-10-31" displayFormat="DD MMM YYYY" name="duedate" formControlName="duedate" id="duedate">
    </div>
      </div>
      <div class="col-sm-12 col-lg-6">
    <div class="form-group">
      <div>Attachment</div>
        <label for="exampleInputFile" class="exampleInputFile">Choose a file...<span class="glyphicon glyphicon-circle-arrow-up custom"></span></label>
        <input type="file" class="form-control-file" formControlName="file" id="exampleInputFile" aria-describedby="fileHelp" (change)="getFile($event)" style="display:none;">
        <!--<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
      </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!homework.valid">Submit</button>
  </form>
</div>

<div class="modal fade" id="homeworkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Homework Added</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have successfully added a new Homework.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/homework/current-homework']">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Add More</button>
      </div>
    </div>
  </div>
</div>