<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Create Circular
  <button type="button" class="close pull-right" aria-label="Close">
    <span aria-hidden="true">&times; </span>
  </button>    
  </div>
  <!-- Table -->
  <div class="panel-body">
    <form name="circular" [formGroup]="circular" (ngSubmit)="circularSubmit()" novalidate>
      <div class="form-group">
        <label for="title">Enter Title</label>
        <span class="badge">
          <span>{{50 - circular.value.title.length}}</span>
        </span>
        <input type="email" class="form-control" id="title" formControlName="title" placeholder="Add Title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <span class="badge">
           <span>{{2000 - circular.value.description.length}}</span>
        </span>
        <textarea class="form-control" id="exampleTextarea" name="description" maxlength="2000" formControlName="description" rows="3" placeholder="Add Description"></textarea>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="form-group">
            <label for="date">Due Date</label>
            <input class="form-control glyphicon glyphicon-calendar" type="date" max="2019-10-31" (change)="onDueDate($event)" displayFormat="DD MMM YYYY" name="date" formControlName="date" id="date">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group">
            <label for="circularTypeId">Audience</label>
            <select class="form-control" id="circularTypeId" name="circularTypeId" formControlName="circularTypeId" (ngModelChange)="onCircularType($event)">
              <option *ngFor="let bx of circularType" [value]="bx.id">{{bx.name}}</option>
            </select>
          </div>
        </div>        
      </div>
      <div class="form-group" *ngIf="circular.value.circularTypeId == 2 ">
        <label for="standardIds">Select Class</label>
        <select class="form-control" id="standardIds" name="standardIds" formControlName="standardIds">
          <option *ngFor="let a of standards" [ngValue]="a.id"> {{a.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!circular.valid">Submit</button>
    </form>
    <div class="row text-center">
      <loader [condition]="submitProgress"></loader>
    </div>
  </div>
</div>
<div class="modal fade" id="circularModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Circular Added</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have successfully added a new Circular.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/circular']">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Add More</button>
      </div>
    </div>
  </div>
</div>