body{
    background: #ddd;
}

/* Modal */
/*.modal-header{
background: #ea212e;
}*/
.modal-title{
    float: left;
}

/* Active list color */
ul.nav.nav-tabs{
    border: 1px solid #ea212e !important;
}
ul.nav.nav-tabs li a{
    color:black;
}
li.active a{
    background: #ea212e !important;
    color:white !important;
    font-weight:bold;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: #ea212e !important; /* Light Red Color */
    color:white !important;
}
.panel-default>.panel-heading{
    color: #fff;
    background-color: #ea212e;
}
.pagination>li>a, .pagination>li>span{
    color:#ea212e;
}
a{
    color:#ea212e;
}

/*modal css*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*adding border in homework and circular*/
.container-border{
  width: 100%;
  border-style: solid;
  border-color:#cacacc;
}