body{
    background: #ddd;
}

/* Modal */
.modal-header{
background: #ea212e;
}
.modal-title{
    color:#fff;
}
.close{
    color:white;
}

/* Active list color */
ul.nav.nav-tabs{
    border: 1px solid #ea212e !important;
}
ul.nav.nav-tabs li a{
    color:black;
}
li.active a{
    background: #ea212e !important;
    color:white !important;
    font-weight:bold;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: #ea212e !important; /* Light Red Color */
    color:white !important;
}
.panel-default>.panel-heading{
    color: #fff;
    background-color: #ea212e;
}
.pagination>li>a, .pagination>li>span{
    color:#ea212e;
}
a{
    color:#ea212e;
}
